@import url('https://fonts.googleapis.com/css?family=Raleway:100,800');
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body .menu {
    position: relative;
    min-height: 100vh;
    background-image: url('../images/background-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body header {
    width: 100%;
    height: 150px;
}

@media all and (min-width: 992px) {
    body header {
        display: flex;
        justify-content: flex-end;
    }
}

body header div {
    position: relative;
    height: 150px;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: center center;
}

@media all and (min-width: 320px) and (max-width: 400px) {
    body header div {
        background-position: center right 60px;
    }
}

@media all and (min-width: 992px) {
    body header div {
        background-position: center left 10%;
    }
}

body header div .btn-menu {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 80px;
    height: 80px;
    background-image: url('../images/hamburger.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    border: none;
    outline: none;
}

body header div .btn-menu:hover {
    cursor: pointer;
}

@media all and (min-width: 992px) {
    body header div .btn-menu {
        display: none;
        justify-content: flex-end;
    }
}

body .nav {
    display: none;
    position: relative;
    background-color: transparent;
}

body .sticky {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    float: right;
}

@media all and (min-width: 992px) {
    body .nav {
        display: flex !important;
        top: 0px;
        right: 0;
        float: right;
    }
}

body .nav a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    float: right;
}

@media all and (min-width: 992px) {
    body .nav a {
        font-size: 16px;
    }
}

body .nav a li {
    margin: 10px 0;
    padding: 25px 20px;
    width: calc(60%);
    list-style-type: none;
    display: block;
}

body .nav a .first-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 70px;
}

@media all and (min-width: 992px) {
    body .nav a .first-menu-item:hover::before {
        width: 50px;
    }
}

body .nav a .second-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 85px;
}

@media all and (min-width: 992px) {
    body .nav a .second-menu-item:hover::before {
        width: 55px;
    }
}

body .nav a .third-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 110px;
}

@media all and (min-width: 992px) {
    body .nav a .third-menu-item:hover::before {
        width: 80px;
    }
}

body .nav a .fourth-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 115px;
}

@media all and (min-width: 992px) {
    body .nav a .fourth-menu-item:hover::before {
        width: 75px;
    }
}

body .nav a .fifth-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 70px;
}

@media all and (min-width: 992px) {
    body .nav a .fifth-menu-item:hover::before {
        width: 45px;
    }
}

body .nav a .sixth-menu-item:hover::before {
    content: '';
    display: block;
    position: absolute;
    top: 15px;
    border-top: 4px solid #ff6033;
    width: 115px;
}

@media all and (min-width: 992px) {
    body .nav a .sixth-menu-item:hover::before {
        width: 75px;
    }
}

body .section-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media all and (min-width: 992px) {
    body .section-first {
        align-items: flex-start;
        margin-left: 10%;
        position: absolute;
        top: 60%;
        transform: translateY(-50%);
    }
}

body .section-first .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 50px;
    padding: 20px 10px;
    text-align: center;
    color: #000000;
    padding-bottom: -20px;
}

@media all and (min-width: 768px) {
    body .section-first .section-title {
        font-family: 'Raleway', sans-serif;
        text-transform: capitalize;
        font-size: 80px;
        padding: 50px 10px;
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    body .section-first .section-title {
        padding-left: 0;
    }
}

body .section-first .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    max-width: 300px;
    margin: 10px 0;
    line-height: 28px;
    color: #000000;
}

@media all and (min-width: 768px) {
    body .section-first .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 30px;
        text-align: justify;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
    }
}

@media all and (min-width: 992px) {
    body .section-first .section-text {
        padding-left: 0;
        margin: 0;
        padding: 0;
        width: 400px;
    }
}

body .section-first button {
    height: 55px;
    width: 200px;
    background-color: #ff6033;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    outline: none;
    margin-bottom: 40px;
}

body .section-first button:hover {
    cursor: pointer;
}

body .section-first button:active {
    background-color: #ff6050;
}

@media all and (min-width: 768px) {
    body .section-first button {
        margin: 40px 0;
    }
}

@media all and (min-width: 992px) {
    body .section-first button {
        margin: 40px 0;
        width: 150px;
        height: 40px;
        font-size: 16px;
    }
}


/*ABOUT US SECTIONS*/

body .section-second {
    min-height: 100vh;
    background-color: #00baba;
}

@media all and (min-width: 768px) {
    body .section-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media all and (min-width: 992px) {
    body .section-second {
        align-items: flex-end;
        background-image: url('../images/second-section.png');
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center left 10%;
        text-align: center;
    }
}

body .section-second .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 992px) {
    body .section-second .about-us {
        width: 50%;
        margin-right: 5%;
    }
}

body .section-second .about-us .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 20px 10px;
    text-align: center;
    color: #ffffff;
}

@media all and (min-width: 768px) {
    body .section-second .about-us .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 20px 10px;
        text-align: center;
    }
}

body .section-second .about-us .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px;
    text-align: justify;
    max-width: 300px;
    margin: 5px 0;
    line-height: 28px;
    color: #ffffff;
}

body .section-second .about-us .section-text:nth-child(2) {
    margin-bottom: 20px;
}

@media all and (min-width: 768px) {
    body .section-second .about-us .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 30px;
        text-align: justify;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
    }
}

@media all and (min-width: 992px) {
    body .section-second .about-us .section-text {
        width: 400px;
        padding: 0;
    }
}


/*SERVICES SECTIONS*/

body .section-third {
    min-height: 100vh;
    background-color: #70bfff;
}

@media all and (min-width: 768px) {
    body .section-third {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media all and (min-width: 992px) {
    body .section-third {
        display: flex;
        flex-direction: row-reverse;
        background-image: url('../images/tomatoes.png');
        background-repeat: no-repeat;
        background-position: center right 20%;
    }
}

body .section-third .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 40px 10px;
    text-align: center;
    color: #ffffff;
}

@media all and (min-width: 768px) {
    body .section-third .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 50px 10px;
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    body .section-third .section-title {
        width: 40%;
    }
}

body .section-third .services {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 992px) {
    body .section-third .services {
        width: 40%;
    }
}

body .section-third .services .service {
    display: flex;
    margin: 15px 0;
}

body .section-third .services .service .service-text {
    width: 180px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}

@media all and (min-width: 768px) {
    body .section-third .services .service .service-text {
        width: 360px;
        padding: 40px 0;
    }
}

body .section-third .services .service:nth-child(3) .service-text {
    padding-bottom: 0;
    padding-top: 10px;
}

@media all and (min-width: 768px) {
    body .section-third .services .service:nth-child(3) .service-text {
        padding: 40px 0;
    }
}

body .section-third .services .service .service-img-1 {
    width: 79px;
    height: 84px;
    border-left: 1px solid #9d9d9d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/basket-img.png');
}

@media all and (min-width: 768px) {
    body .section-third .services .service .service-img-1 {
        width: 99px;
        height: 104px;
        border-left: 1px solid #9d9d9d;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

body .section-third .services .service .service-img-2 {
    width: 79px;
    height: 84px;
    border-left: 1px solid #9d9d9d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/hand-img.png');
}

@media all and (min-width: 768px) {
    body .section-third .services .service .service-img-2 {
        width: 99px;
        height: 104px;
        border-left: 1px solid #9d9d9d;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

body .section-third .services .service .service-img-3 {
    width: 79px;
    height: 84px;
    border-left: 1px solid #9d9d9d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/globe-img.png');
}

@media all and (min-width: 768px) {
    body .section-third .services .service .service-img-3 {
        width: 99px;
        height: 104px;
        border-left: 1px solid #9d9d9d;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

body .section-third .services .service .service-img-4 {
    width: 79px;
    height: 84px;
    border-left: 1px solid #9d9d9d;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../images/carrot-img.png');
}

@media all and (min-width: 768px) {
    body .section-third .services .service .service-img-4 {
        width: 99px;
        height: 104px;
        border-left: 1px solid #9d9d9d;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

body .section-third .services .service:last-child {
    margin-bottom: 40px;
}


/*GALLERY SECTION*/

body .gallery {
    background-color: #ffe92f;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body .gallery .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 20px 10px;
    text-align: center;
    color: #000000;
}

@media all and (min-width: 768px) {
    body .gallery .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 50px 10px;
        text-align: center;
    }
}

body .gallery .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 20px;
    text-align: justify;
    max-width: 300px;
    margin: 10px 0;
    line-height: 28px;
    color: #000000;
}

@media all and (min-width: 768px) {
    body .gallery .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 20px;
        text-align: justify;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
    }
}

@media all and (min-width: 992px) {
    body .gallery .section-text {
        width: 500px;
    }
}

body .gallery .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

body .gallery .images img {
    float: left;
    width: 280px;
    margin: 20px 0;
}

@media all and (min-width: 1200px) {
    body .gallery .images {
        display: block;
        position: relative;
        width: 1170px;
    }
}

@media all and (min-width: 768px) {
    body .gallery .images img {
        width: 560px;
    }
}

@media all and (min-width: 1200px) {
    body .gallery .images img {
        margin: 0 0;
    }
    body .gallery .images img:nth-child(1) {
        width: 770px;
    }
    body .gallery .images img:nth-child(2),
    body .gallery .images img:nth-child(3) {
        width: 370px;
        margin-left: 30px;
    }
    body .gallery .images img:nth-child(3) {
        margin-top: 30px;
    }
    body .gallery .images img:nth-child(4),
    body .gallery .images img:nth-child(5) {
        width: 570px;
        margin-top: 30px;
    }
    body .gallery .images img:nth-child(5) {
        margin-left: 30px;
    }
}


/*    SUBSCRIBE*/

body .section-fifth {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
}

@media all and (min-width: 768px) {
    body .section-fifth {
        background-image: url('../images/subscribe.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media all and (min-width: 768px) {
    body .section-fifth {
        justify-content: center;
    }
}

@media all and (min-width: 992px) {
    body .section-fifth {
        background-position: center right 10%;
        align-items: flex-start;
        margin-left: 10%;
    }
}

body .section-fifth .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 40px 10px;
    text-align: center;
    color: #000000;
}

@media all and (min-width: 767px) {
    body .section-fifth .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 30px 10px;
        text-align: center;
    }
}

@media all and (min-width: 992px) {
    body .section-fifth .section-title {
        padding-left: 0;
    }
}

body .section-fifth .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    max-width: 300px;
    margin: 10px 0;
    line-height: 28px;
    color: #000000;
}

@media all and (min-width: 767px) {
    body .section-fifth .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 30px;
        text-align: justify;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
        color: #fff;
    }
}

@media all and (min-width: 992px) {
    body .section-fifth .section-text {
        padding-left: 0;
        color: #000000;
    }
}

body .section-fifth .subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media all and (min-width: 768px) {
    body .section-fifth .subscribe-form {
        width: 500px;
    }
}

@media all and (min-width: 992px) {
    body .section-fifth .subscribe-form {
        flex-direction: row;
        margin-bottom: 40px;
    }
}

body .section-fifth .subscribe-form input[type='text'] {
    height: 45px;
    width: 85%;
    border: 1px solid #000000;
    outline: none;
    padding: 25px;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

@media all and (min-width: 768px) {
    body .section-fifth .subscribe-form input[type='text'] {
        width: 500px;
    }
}

body .section-fifth .subscribe-form input[type='submit'] {
    height: 45px;
    background-color: #96b92c;
    color: #fff;
    margin-top: 25px;
    margin-bottom: 40px;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

@media all and (min-width: 768px) {
    body .section-fifth .subscribe-form input[type='submit'] {
        width: 170px;
        align-self: flex-start;
    }
}

@media all and (min-width: 992px) {
    body .section-fifth .subscribe-form input[type='submit'] {
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 30px;
        font-size: 16px;
    }
}

body .section-fifth .subscribe-form input[type='submit']:hover {
    cursor: pointer;
}

body .section-fifth .subscribe-form input[type='submit']:active {
    background-color: #96b97c;
}


/* BLOG */

body .section-sixth {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #b07cf7;
    padding-bottom: 50px;
}

body .section-sixth .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 40px 10px;
    text-align: center;
    color: #ffffff;
}

@media all and (min-width: 767px) {
    body .section-sixth .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 50px 10px;
        text-align: center;
    }
}

body .section-sixth .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 30px;
    text-align: justify;
    max-width: 300px;
    margin: 10px 0;
    line-height: 28px;
    color: #ffffff;
}

@media all and (min-width: 767px) {
    body .section-sixth .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 30px;
        text-align: justify;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
    }
}

body .section-sixth .articles {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 1200px) {
    body .section-sixth .articles {
        flex-direction: row;
    }
}

body .section-sixth .articles .article {
    position: relative;
    height: 251px;
    width: 300px;
    margin: 30px 0;
    transition-duration: 0.5s;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article {
        width: 370px;
        height: 310px;
    }
}

@media all and (min-width: 1200px) {
    body .section-sixth .articles .article {
        margin: 0 20px;
    }
}

body .section-sixth .articles .article:hover {
    cursor: pointer;
    box-shadow: inset 0px -80px 20px -20px rgba(0, 0, 0, 0.5);
}

body .section-sixth .articles .article:nth-child(1) {
    background-image: url('../images/kiwi.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article:nth-child(1) {
        background-size: 370px;
    }
}

body .section-sixth .articles .article:nth-child(2) {
    background-image: url('../images/groszek.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article:nth-child(2) {
        background-size: 370px;
    }
}

body .section-sixth .articles .article:nth-child(3) {
    background-image: url('../images/maliny.jpg');
    background-repeat: no-repeat;
    background-size: 300px;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article:nth-child(3) {
        background-size: 370px;
    }
}

body .section-sixth .articles .article-date {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    padding: 10px;
    box-sizing: content-box;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article-date {
        position: absolute;
        top: 30px;
        left: 30px;
        display: inline-block;
        padding: 10px;
        box-sizing: content-box;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        color: #fff;
        font-size: 20px;
        text-align: center;
    }
}

body .section-sixth .articles .article-title {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    padding: 10px;
    left: 0;
    bottom: 36px;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article-title {
        position: absolute;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 20px;
        color: #fff;
        padding: 10px;
        left: 0;
        bottom: 36px;
    }
}

body .section-sixth .articles .article-author {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #202020;
}

@media all and (min-width: 767px) {
    body .section-sixth .articles .article-author {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 10px;
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        font-size: 18px;
        color: #202020;
    }
}


/*KONTAKT*/

body .section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../images/background-contact-.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body .section-contact .section-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 60px;
    padding: 60px 10px;
    text-align: center;
    color: #262626;
}

@media all and (min-width: 767px) {
    body .section-contact .section-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
        text-transform: capitalize;
        font-size: 80px;
        padding: 60px 10px;
        text-align: center;
    }
}

body .section-contact .section-text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 50px;
    text-align: center;
    max-width: 300px;
    margin: 10px 0;
    line-height: 28px;
    color: #262626;
}

@media all and (min-width: 767px) {
    body .section-contact .section-text {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        padding: 50px;
        text-align: center;
        max-width: 500px;
        margin: 10px 0;
        line-height: 36px;
    }
}

body .section-contact .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media all and (min-width: 992px) {
    body .section-contact .contact {
        flex-direction: row;
        margin-bottom: 40px;
    }
}

body .section-contact .contact .form-contact {
    width: 100%;
}

body .section-contact .contact .form-contact input[type='text'] {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: rgba(125, 223, 223, 0.5);
    border: none;
    outline: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

@media all and (min-width: 992px) {
    body .section-contact .contact .form-contact input[type='text'] {
        width: 500px;
    }
    body .section-contact .contact .form-contact input[type='text']:nth-child(1) {
        margin-top: 0;
    }
}

body .section-contact .contact .form-contact textarea {
    display: block;
    height: 180px;
    width: 100%;
    padding: 15px;
    margin: 20px 0;
    box-sizing: border-box;
    background-color: rgba(125, 223, 223, 0.5);
    resize: none;
    outline: none;
    color: #fff;
    border: none;
    font-family: 'Raleway', sans-serif;
}

@media all and (min-width: 992px) {
    body .section-contact .contact .form-contact textarea {
        width: 500px;
    }
}

body .section-contact .contact .address {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

@media all and (min-width: 992px) {
    body .section-contact .contact .address {
        width: 50%;
        margin-left: 5%;
    }
}

body .section-contact .contact .address div {
    display: flex;
    flex-direction: column;
}

body .section-contact .contact .address div h3 {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #262626;
}

@media all and (min-width: 992px) {
    body .section-contact .contact .address div h3 {
        padding-top: 0;
        margin: 0;
    }
}

body .section-contact .contact .address div p {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #262626;
}
